# macOS
.DS_Store

# Xcode
DerivedData/
build/
xcuserdata/
*.xcuserstate

# Swift Package Manager
.build/

# Xcode user-specific files
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Archives
*.xcarchive